### Reading Excel

In [4]:
import pandas as pd
import numpy as np

In [1]:
!pwd

/home/dsc/Documents/repos-ja/masterDataScience/python/scientific_stack

In [2]:
cd /home/dsc/Documents/repos-ja/masterDataScience/

/home/dsc/Documents/repos-ja/masterDataScience

Reading accidents by type in districs from Madrid city council.

In [7]:
sheet_names = pd.ExcelFile("./data/accidentes_por_tipo_en_distritos.xls").sheet_names

['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [9]:
for sheet in sheet_names:
    
    # sheet from 2013 has diferente structure of rows. Rest of the sheets have the same structure.
    if sheet == '2013':
        temp_df = pd.read_excel('./data/accidentes_por_tipo_en_distritos.xls',
                                skiprows=4, skipfooter=1, parse_cols='A:K',sheetname=sheet)
    else:
        temp_df = pd.read_excel('./data/accidentes_por_tipo_en_distritos.xls',
                                skiprows=7, skipfooter=1, parse_cols='A:K',sheetname=sheet)
    
    # including the year in a new column
    temp_df['year'] = int(sheet)
    
    # initializing the output file "accidentes_per_year" in 2009 (first sheet) and concatenating to the rest of the years
    if sheet == '2009':
        accidents_per_year = temp_df
    else:
        accidents_per_year = pd.concat([accidents_per_year,temp_df])

In [12]:
accidents_per_year.head()

,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,year
0,ARGANZUELA,389,54,126,75,9.0,43,9.0,4.0,5.0,8.0,2009
1,BARAJAS,89,6,53,21,NaN,12,2.0,1.0,2.0,2.0,2009
2,CARABANCHEL,375,44,171,137,8.0,36,13.0,6.0,9.0,8.0,2009
3,CENTRO,514,55,171,143,NaN,61,12.0,3.0,10.0,12.0,2009
4,CHAMARTIN,494,70,133,92,10.0,72,22.0,2.0,6.0,7.0,2009