# Introduction to Python

## 1. Conditionals, loops and functions

**Exercise 1:**
Given two int values, return their sum if the two values are not the same. If the two values are not
the same then return the double of their sum.

In [11]:
def sum2values(a,b):
    if a!=b:
        return a+b
    else:
        return 2*(a+b)

**Exercise 2**: Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.

In [12]:
def is10(a,b):
    if a==10 or b==10 or (a+b)==10:
        return True
    else:
        return False

**Exercise 3**: Write a function “centenario” that will take Name, and year of birth as inputs, check if year of birth is int and cast it to int if not, and print name together with the text explaining when the person is to have 100 years (hint: use isinstance) <br />

Call to function: *centenario('Antonio', '1967')* <br />
output: *Antonio will reach 100 years in 2067*

In [13]:
def centenario(name,year):
    if not isinstance(year,int):
        year=int(year)
    return '{} will reach 100 years in {}'.format(name,year+100)

In [14]:
centenario('Antonio','1967')

'Antonio will reach 100 years in 2067'

## 2. Data Types

**Exercise 1**: Given a string and a non-negative int n, return a larger string that is n copies of the original string.

In [15]:
def n_copies_string(string,integer):
    return string*integer

**Exercise 2**: Given a string, return a new string made of every other char starting with the first element (meaning
index 0). In other words delete every even char position the string, so "Hello" yields "Hlo".

In [16]:
def delete_even_char_string(string):
    result=""
    for letter in range(0,len(string),2):
        result = result+string[letter]
    return result

In [19]:
delete_even_char_string('Hello')

'Hlo'

**Exercise 3**: Write a function to calculate the number of words, number of lines, and length of a string the same
way the wc command does in the command line.

In [20]:
def wc(string):
    chars = len(string)
    words = len(string.split())
    lines = len(string.splitlines())
    
    return (chars,words,lines)

In [23]:
wc('This is a string with:\n 2 lines, 12 words and 56 letters')

(56, 12, 2)

**Exercise 4**: Write a Python program to remove the n<sup>th</sup> index character from a string. If the input string is empty
print warning.

In [24]:
def remove_nth(string, n):
    if not string:
        print ('Warning!!!, the string is empty')
    else:
        print(string[:n]+string[(n+1):])

In [25]:
remove_nth('this is a string',5)

this s a string

**Exercise 5**: Given 2 strings, a and b, return a string of the form short+long+short, with the shorter string on the
outside and the longer string on the inside. The strings will not be the same length, but they may be
empty (length 0).

In [26]:
def sls_format(stringA, stringB):
    if len(stringA)>len(stringB):
        print(stringB+stringA+stringB)
    else:
        print(stringA+stringB+stringA)

In [27]:
sls_format('This is a string','Hello')

HelloThis is a stringHello

## 3. Line Magic Commands - Handling Files

**Exercise 1**: While inside python, go to *~/Data/opentraveldata/* and list the files. Repeat the same for
*~/Data/us_dot/otp* and *~/Data/us_dot/traffic/*. Use the list of visited directories from dhist and write for loop which will return for each visited directory its name and number of files inside.(hint: use variable *_dh*)

In [57]:
cd ~/Data/opentraveldata/

/home/dsc/Data/opentraveldata

In [58]:
!ls -l

total 9908
-rw-rw-r-- 1 dsc dsc    1581 Dec  9 07:18 airbus_records.csv
-rw-rw-r-- 1 dsc dsc      13 Dec  1 20:49 num.txt
-rw-r--r-- 1 dsc dsc   18612 Nov  8  2015 optd_aircraft.csv
-rw-r--r-- 1 dsc dsc  107306 Nov  8  2015 optd_airlines.csv
-rw-r--r-- 1 dsc dsc 8080005 Nov  8  2015 optd_por_public.csv
-rw-r--r-- 1 dsc dsc 1871775 Nov  8  2015 optd_por_public.csv.bz2
-rw-rw-r-- 1 dsc dsc    5816 Nov  9  2015 ref_airline_nb_of_flights.csv
-rw-rw-r-- 1 dsc dsc   41338 Dec  1 21:09 zipped_files.zip

In [59]:
cd ~/Data/us_dot/otp

/home/dsc/Data/us_dot/otp

In [60]:
!ls -l

total 190232
-rw-r--r--. 1 dsc dsc 23061340 Nov  8  2015 On_Time_On_Time_Performance_2015_1.zip
-rw-r--r--. 1 dsc dsc 21230105 Nov  8  2015 On_Time_On_Time_Performance_2015_2.zip
-rw-r--r--. 1 dsc dsc 24811186 Nov  8  2015 On_Time_On_Time_Performance_2015_3.zip
-rw-r--r--. 1 dsc dsc 23625261 Nov  8  2015 On_Time_On_Time_Performance_2015_4.zip
-rw-r--r--. 1 dsc dsc 24334057 Nov  8  2015 On_Time_On_Time_Performance_2015_5.zip
-rw-r--r--. 1 dsc dsc 25758350 Nov  8  2015 On_Time_On_Time_Performance_2015_6.zip
-rw-r--r--. 1 dsc dsc 26204213 Nov  8  2015 On_Time_On_Time_Performance_2015_7.zip
-rw-r--r--. 1 dsc dsc 25726054 Nov  8  2015 On_Time_On_Time_Performance_2015_8.zip

In [61]:
cd ~/Data/us_dot/traffic/

/home/dsc/Data/us_dot/traffic

In [75]:
!ls -l

total 22060
-rw-r--r--. 1 dsc dsc 16871101 Nov  8  2015 T100_SEGMENT_ALL_CARRIER_2014.zip
-rw-r--r--. 1 dsc dsc  5709455 Nov  8  2015 T100_SEGMENT_ALL_CARRIER_2015.zip

In [80]:
for directories in _dh[1:4]: #0 directory is the working repo 
    files = !(find $directories -type f | wc -l)
    print('Directory Name: {}; Number of files inside: {}'.format(directories,files[0]))

Directory Name: /home/dsc/Data/opentraveldata; Number of files inside: 8
Directory Name: /home/dsc/Data/us_dot/otp; Number of files inside: 8
Directory Name: /home/dsc/Data/us_dot/traffic; Number of files inside: 2

**Exercise 2**: Write a function that will take text file and pattern as input parameters, and return the number of
occurances of case insensitive pattern inside a text.

In [89]:
def pattern_times_in_file(file,pattern):
    repetitions=!(grep -i -o $pattern $file | wc -l)
    print('The pattern "{}" appears {} times in "{}" file'.format(pattern,repetitions[0],file))

In [90]:
pattern_times_in_file('~/Data/shell/Finn.txt','English')

The pattern "English" appears 8 times in "~/Data/shell/Finn.txt" file

**Exercise 3**: Open Finn.txt file, read lines into a list. Remove trailing white spaces from each line. Write the
resulting list to the new file. How many lines does the new file have? (hint: empty list is made with [
])

In [169]:
with open("/home/dsc/Documents/masterDataScience/data/Finn.txt") as text_file:
    lines_Finn=[]
    for line in text_file:
        lines_Finn.append(line.rstrip())
text_file.close

text_file_out=open("/home/dsc/Documents/masterDataScience/data/Finn_remove_tws.txt","w")
for line in lines_Finn:
    text_file_out.write(line)
text_file_out.close()

In [221]:
print('ORIGINAL FILE')
print('First 10 lines in Finn.txt:')
!(head -n 10 "/home/dsc/Documents/masterDataScience/data/Finn.txt")

ORIGINAL FILE
First 10 lines in Finn.txt:

In [220]:
print('REMOVING TRAILING WHITE SPACES FROM EACH LINE:')
print('First 500 bytes in Finn_remove_tws.txt:')
print()
!(head -c 500 "/home/dsc/Documents/masterDataScience/data/Finn_remove_tws.txt")

REMOVING TRAILING WHITE SPACES FROM EACH LINE:
First 500 bytes in Finn_remove_tws.txt:

﻿The Project Gutenberg EBook of Adventures of Huckleberry Finn, Completeby Mark Twain (Samuel Clemens)This eBook is for the use of anyone anywhere at no cost and with almostno restrictions whatsoever. You may copy it, give it away or re-useit under the terms of the Project Gutenberg License included with thiseBook or online at www.gutenberg.netTitle: Adventures of Huckleberry Finn, CompleteAuthor: Mark Twain (Samuel Clemens)Release Date: August 20, 2006 [EBook #76]Last Updated: August 17, 2016

**Exercise 4**: Open Finn.txt file, read lines into a list. Create a new version of Finn_nbl.txt with no blank lines.

In [209]:
with open("/home/dsc/Documents/masterDataScience/data/Finn.txt") as text_file:
    lines_Finn=[]
    for line in text_file:
        lines_Finn.append(line)
text_file.close

text_file_out=open("/home/dsc/Documents/masterDataScience/data/Finn_nbl.txt","w")
for line in lines_Finn:
    if line!="\n":
        text_file_out.write(line)
text_file_out.close()

**Exercise 5**: Reset the workspace. Obtain the difference in number of lines between original Finn file and and
the one without blank lines and print the result. (hint: use wc)

In [214]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [219]:
path_Finn="/home/dsc/Documents/masterDataScience/data/Finn.txt"
lines_Finn=!(cat $path_Finn | wc -l)

path_Finn_nbl="/home/dsc/Documents/masterDataScience/data/Finn_nbl.txt"
lines_Finn_nbl=!(cat $path_Finn_nbl | wc -l)

print('The original Finn file has {} lines'.format(lines_Finn[0]))
print('The Finn file without blank lines has {} lines'.format(lines_Finn_nbl[0]))

The original Finn file has 12363 lines
The Finn file without blank lines has 9674 lines

## 4. Lists, tuples - Map and Lambda functions

**Exercise 1**: For a sequence [1, 2, 3, 4, 5, 6, 7, 8 ] get the squared values using the lambda function.

In [230]:
list(map(lambda x:x**2,list(range(1,9))))

[1, 4, 9, 16, 25, 36, 49, 64]

**Exercise 2**: Prepare a list with 10 names. Make a code that will put all vowels to capitals and every other
character to lower letters.

In [234]:
names=['Ned','Robb','Sansa','Cercei','Twin','Tyrion','Jon','Snow','Arya','LittleFinger']
vowels=['a','e','i','o','u']

False

In [237]:
def capital_vowel(text):
    new_text=''
    for letter in text:
        if letter in vowels:
            new_text=new_text+letter.upper()
        else:
            new_text=new_text+letter.lower()
    return new_text

In [240]:
list(map(capital_vowel,names))

['nEd',
 'rObb',
 'sAnsA',
 'cErcEI',
 'twIn',
 'tyrIOn',
 'jOn',
 'snOw',
 'aryA',
 'lIttlEfIngEr']

**Exercise 3**: Prepare again a list with 10 names. Make a function with two input variables: list, and character; that
returns a list of names containing one or more of input characters ’s inside the name.

In [248]:
def names_with_str(list_names,character):
    names=[]
    for name in list_names:
        if character in name:
            names.append(name)
    return names

In [250]:
names_with_str(names,'r')

['Cercei', 'Tyrion', 'Arya', 'LittleFinger']

**Exercise 4**: Reverse word order from the input string:

In [261]:
def reverse_string(string):
    reverse=string.split(' ')
    return reverse[::-1]

In [262]:
reverse_string('This is a string')

['string', 'a', 'is', 'This']

**Exercise 5**: Create a function that accepts string as search string and returns number of lines with that string in a
command history. (hint : use a in b)

In [278]:
def search_string(string):
    counter=0
    for line in In:
        if string in line:
            counter+=1
    return counter

In [280]:
search_string('def')

43

**Exercise 6**: Write a Python function that takes a list of words and returns the length of the longest one.

In [281]:
def len_longest_word(list_of_words):
    max_len=0
    for word in list_of_words:
        if len(word)>max_len:
            max_len=len(word)
    return max_len

In [286]:
len_longest_word(names)

12

## 5. Enumerate and zip functions

**Exercise 1**: If for a string “coche” using enumerate and list function we obtain:<br />
In: list(enumerate('coche'))<br />
Out: [(0, 'c'), (1, 'o'), (2, 'c'), (3, 'h'), (4, 'e')]<br />

Obtain the same result by using zip function!

In [290]:
list(zip(range(len('coche')),'coche'))

[(0, 'c'), (1, 'o'), (2, 'c'), (3, 'h'), (4, 'e')]

## 6. Dicts and Sets

**Exercise 1**: Categorize a list of words by their first letter, meaning that the result of the operation is first letter and all the words from the input list starting with that letter. (hint: use dict)

In [321]:
words=['apple', 'bat', 'bar', 'atom', 'book']
words_by_first_letter={}
for word in words:
    first_letter=word[0]
    if first_letter not in words_by_first_letter:
        words_by_first_letter[first_letter]=list([word])
    else:
        words_by_first_letter[first_letter].append(word)

words_by_first_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

**Exercise 2**: Sort a collection of strings by the number of distinct letters in each string. (hint: use set and lambda)

In [359]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
distinct_letters=strings
distinct_letters.sort(key=lambda x:len(set(x)),reverse=True)
distinct_letters

['card', 'bar', 'foo', 'abab', 'aaaa']

## 7. Comprenhensions

**Exercise 1**: Write apply_to_collection function by using list comprehension. apply_to_collection function takes one function and one collection (list of tuples or tuple of tuples, etc) and merge the elements of the collection applying the function to each value.

In [367]:
def add_one(value):
    return value+1

g=(4,5,6)

*apply_to_ollection* function:

In [368]:
def apply_to_collection(some_func, some_collection):
    result=[]
    for x in some_collection:
        result.append(some_func(x))
    return result

In [369]:
apply_to_collection(add_one,g)

[5, 6, 7]

With *list comprenhension*:

In [371]:
result=[add_one(x) for x in g]
result

[5, 6, 7]

**Exercise 2**:  Reverse word order from the input string by using comprehension.

In [384]:
string='This is a string'
reverse_string=[word for word in string.split(' ')[::-1]]
' '.join(reverse_string)

'string a is This'